:root {
  --white: #fff;
  --gray: #e9e9e9;
  --blue: #213f52;
}

.App {
  background-color: var(--gray);
  height: 100vh;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  display: flex;
  justify-content: flex-start;
  color: var(--blue);
}

.btn {
  background-color: var(--blue) !important;
  color: var(--gray) !important;
}

.nav {
  background-color: var(--blue);
  height: 3rem;
}

.images {
  height: 60vh;
  overflow: auto;
}


.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--gray);
  border-radius: 5%;
  padding: 1rem;
}

input {
  height: 2.6rem;
}

.images img {
  margin: 1%;
  width: 30%;
}

.images::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rba(0, 0, 0, 0.3);
  background-color: var(--white);
  border-radius: 0.6rem;
}

.images::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--white);
}

.images::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

.rmc-number{
  width: fit-content !important;
  height: fit-content !important;
  word-break: break-all;
}
